.logo
{
    background-color: rgb(69, 3, 3);
    color: azure;
    height: 70px;
    padding: 15px;
    /* margin: 15px; */
    /* margin-bottom: 0px; */
    display: flex;
    align-items: center;
     position: fixed;
     top: 0;
    z-index: 1000;
    width: 100%;
}

body{
    overflow-x: hidden;
}

.nav-links
{
    display: flex;
    list-style: none;
    gap: 30px;
    color: azure;
}


.p
{
    width: 150px;
    height: 150px;
    font-size: larger;
    color: azure;
}


.heading
{
    font-size: xx-large;
    font-weight: bolder;
    color: azure;
}


 .section
{
    align-items: center;
    justify-content:space-between;
    background-image: url("./Images/WhatsApp\ Image\ 2024-05-10\ at\ 00.16.47_b0813cc9.jpg");
    background-size: cover;
    height: 500px;
    padding: 70px;
    width: 100%;
}


.button
{
    color: azure;
    background-color: black;
    height: 50px;
    width: 150px;
    border: 0px;
} 

.h1
{
    font-size: xx-large;
    font-weight: bolder;
    color:black
}


.about
{
    font-weight:bold;
    color: rgba(234, 62, 0, 0.872);
    margin-bottom: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 70px;
    padding: 15px;
}

.box
{
    width: 700px;
    height: 150px;
    font-size: large;
    margin: 15px;
}


.image
{
    padding: 150px;
}


.two
{
    display: flex;
    margin-top: -70px
}


.center
{
    position: relative;
    top: -70px;
    margin-left: 30px;
}


.show
{
    justify-content: center;
    text-align: center;
}


.one
{
    color: rgb(245, 83, 29);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}


.font
{
    font-size: large;
}


.click
{ 
    color: azure;
    background-color: black;
    height: 50px;
    width: 150px;
    border: 0;
    margin: 70px;
   
}


.form
{
    background-image: url("./Images/img-9.png");
    justify-content: center;
    text-align: center;
    align-content: center;
    background-position: center;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    padding: 30px;
    margin-left: 350px;
}


.form input , .form textarea
{
    margin: 15px;
    width: 250px;
    height: 30px;
    border-radius: 17px;
    border: 0px;
}


.form textarea
{
    height: 70px;
}


.form button
{
    color: azure;
    background-color: rgb(237, 60, 33);
    height: 30px;
    width: 150px;
    border-radius: 17px;
    border: 0px;
    margin-top: 10px;
}

.contact
{
    color:rgb(245, 93, 37);
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}


.table
{
    display: flex;
    background-color: black;
    color: azure;
    gap: 70px;
    width: 1300px;
    justify-content: center;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 170px;
}


.space
{
    height: 30px;
    width: 150px;
}


.footer
{
    justify-content: center;
    text-align: center;
    font-size: larger;
    margin-top: 17px;
}


.gallery img
{
    border-radius: 17px;
}


.gallery img:hover
{
    transform: scale(1.03);
}


@media (max-width: 576px)
{
    .section
    {
        height: 400px;
        padding: 15px;
    }

    .two
    {
        display: block;
        margin-top: -70px;
    }

    .center
    {
        position: relative;
        top: -70px;
        margin-left: 0px;
    }

    .form
    {
        width: 300px;
        height: 300px;
        margin-left: 100px;
    }

     .table
    {
        display: block;
        width: 300px;
        margin-left: 100px;
    }
    
}